/**
 * @file {{ header_file }}
 * @author Janus Bo Andersen
 * @brief LeetCode problem {{ problem_number }}: {{ problem_name_clear_text }}
 * 
 * Problem description...
 * 
 * @version 1.0
 * @date {{ make_date }}
 * 
 * @copyright Copyright (c) {{ make_year }}
 * 
 */

#include <vector>

#pragma once

namespace {{ problem_namespace }} {

class Solution {
public:
    using InputValueType = std::vector<int>;
    using ReturnValueType = bool;
    ReturnValueType renameMe(InputValueType& nums);
};

} // namespace
